{% extends "base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}
    <h1>Log-in</h1>
    <div class="module">
        {% if form.errors %}
            <p>El usuario/password es incorrecto.</p>
        {% else %}
            <p>Ingrese su nombre de usuario y contraseña:</p>
        {% endif %}
        <div class="login-form">
            <form action="{% url 'login' %}" method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}" />
                <p><input type="submit" value="Log-in"></p>
            </form>
            <br>
            En caso de no estar registrado, registrese <a href="{% url 'registro' %}">aquí</a>
        </div>
    </div>
{% endblock %}